streamlit
pymysql
easyocr
numpy
Pillow==8.4.0
spacy>=3.0.0,<4.0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
opencv-python==4.5.5.64
python-Levenshtein==0.12.2
